services:
  redis:
    image: redis:7.2-alpine
    container_name: battle-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  redis_data: